{
    "overrides": [
        {
            "files": ["*.ts", "*.js"],
            "extends": [
                "airbnb-base"
            ]
        },
        {
            "files": ["*.ts"],
            "extends": [
                "airbnb-typescript/base"
            ],
            "parserOptions": {
                "project": "./tsconfig.json"
            }
        },
        {
            "files": ["*.js"],
            "rules": {
                "import/no-extraneous-dependencies": [
                    "error", 
                    {
                        "devDependencies": true
                    }
                ]
            }
        }
    ]
}